/****************************************
GENERAL
*****************************************/

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	background: #ecf0f1;
	padding:0 5%;
	min-height: 1000px;
}

a {
  text-decoration: none;
}

img {
	max-width: 100%;
}


/****************************************
HEADING
*****************************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#over {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	margin:  15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h1 {
	font-size: 1.75em;
	margin:  -5px 0 0;
	font-weight: normal;
}



/****************************************
NAVIGATION
*****************************************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	clear: both;
}

nav ul {
	list-style: none;
	margin: 0 10;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}


#top-nav {
	text-align: center;
}

#top-nav ul {
	list-style: none;
	margin: 0 10;
	padding: 0;
}

#top-nav li {
	display: inline-block;
}

#top-nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/****************************************
FOOTER
*****************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

/****************************************
PAGE: LESSONS
*****************************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

#gallery li a p {
	margin: 0;
	padding: 5px;
	font-size:  0.75em;
	color: #bdc3c7;
}

/****************************************
COLORS
*****************************************/

/* site body */
body {
	background-color: #fff;
	color: #999;
}

/* blue header */
header {
	background-color: #3498db;
	border-color: #2980b9;
	font-size:12px;
	height:200px;
}

/* top nav*/
#top-nav {
	background-color: #3498db;
	border-color: #2980b9;
	font-size:12px;
}

/* nav background on mobile */
nav {
	background: #2980b9;
}

/* logo text */
h1, h2 {
	color: white;
}

/* links */
a {
	color: red;
}

/* nav link */
nav a, nav a:visited {
	color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #2c3e50;
}



#lesson-content {
	max-width: 940px;
	margin: 0 auto;
	background: #ecf0f1;
	padding:0 5%;
	display: inline-block;
}

.lesson-screen {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color: white;
    height: 440px;
    border: 10px solid #eee;
    border-color: #2980b9; 
	max-width: 940px;
    margin:0 auto;
    	padding:0 5%;
    margin-top: 20px;

}

.dilbilgisi-course-top {
    height: 75px;
    font-size: 14px;
    margin-bottom: 10px;
}

.dilbilgisi-course-top a {
color: #C2185B;
text-decoration: none;
}

.dilbilgisi-course-middle {
 background-color: white; 
    height: 260px;
    padding: 20px;
     border-radius:5px;
}

.dilbilgisi-course-bottom {
  /*  background-color: #F0F4C3; */
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
}

.dct-ogretmen {
    float: left;
    height: 75px;
    max-width: 940px;
    margin:0 auto;
    padding:0 5%;
    background: url(../img/t.png) no-repeat;
    background-size: 75px;
}

.dct-konusma {
    float: left;
    max-width: 940px;
    margin:0 auto;
    padding:0 5%;
    height: 55px;
    line-height: 55px;
    background-color: #ECEFF1;
    border-radius:20px;
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    color: #37474F;

}

.lesson-nav {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color: white;
    height: 100px;
   	max-width: 940px;
    margin:0 auto;
    padding:0 5%;
}

.lesson-nav-meta {
    margin-top: 15px;
   	max-width: 940px;
    margin:0 auto;
    padding:0 5%;
    margin-left: 25px;
    display: inline-block;
}

.steps {
	
    height: 50px;
    margin:0 auto;
    max-width: 940px;
}

.step-previous {
    float: left;
	background-color: #D4D9DD;
	background-image: url(../img/al.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
	margin: 1%;
    height: 90%;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;

}

.step-previous:hover {
    background-color: #C2185B;
}

.step-next {
    float: left;
	background-color: #D4D9DD;
	background-image: url(../img/ar.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 48%;
	margin: 1%;
    height: 90%;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.step-next:hover {
    background-color: #C2185B;
}


.level {
	padding-left:0px;
	width:400px;
	height:200px;
	display:inline-block;
}

.level-a-1 {
	background-color: #f1c40f;
}


.level-a-2 {
	background-color: #f39c12;
}

.level-b-1 {
	background-color: #1abc9c;
}

.level-b-2 {
	background-color: #27ae60;
}

.level-c-1 {

	background-color: #e67e22;
}

.level-c-2 {
	background-color: #c0392b;
}

